apache-airflow[sentry,async,crypto,celery,mysql,slack]==1.10.10
pandas==0.24.2
numpy==1.22.0
flake8==3.5.0
tzlocal==1.5.1
pytest==5.2.0
pytest-cov==2.5.1
redis==3.3.8
psycopg2-binary==2.8.3
# sqlalchemy-redshift==0.7.3
mysql-connector-python==8.0.18
PyMySQL==0.9.3
mysqlclient==1.3.12
SQLAlchemy==1.3.15
cryptography==2.9
flask==1.1.1
werkzeug==0.16.0
six==1.14.0
google-cloud-bigquery==1.24.0
pymongo==3.10.1
docutils==0.10
boto3==1.12.39
future==0.18.0
pymssql==2.1.5
pysftp==0.2.9
xlrd==1.2.0
pytest-docker-tools==0.2.2
pytest-helpers-namespace==2019.1.8
pytest-mock==3.2.0
celery[redis]==4.4.6
enforce-typing==1.0.0
moz-sql-parser==3.32.20026
pylint==2.6.0
